#hlavna {
    background-color: #FEF7F1;
    border: solid 3px black;
    position: relative;
    margin: auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: -5px 1px 40px 4px rgb(174, 129, 129);
    padding: 5px;
    font-size: 25px;

}
.welcomeimg {
    margin: auto;
    display: block;
    width: 80%;
    /* border-radius: 5%; */
    border: solid 3px black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4d1054;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 46px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.contactimg {
    margin: auto;
    display: block;
    width: 80%;
}

#registracia{
    margin:auto;
    position: relative;
    width: 50%;
}

.signin {
    background-color: #f1f1f1;
    text-align: center;
}

formular {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4d1054;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

#map{
    position: absolute;
    width:100%;
    height:300px;
    border:outset;


}

#contacts{
    text-align: center;
}

#galleryContainer {
    height: 100%;
    width: 100%;
    position: absolute;
}

#imgCollection {
    position: relative;
    height: 80%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-left: 16%;
    margin-right: 16%;
    /*-webkit-box-shadow: inset 1px 2px 112px 20px rgba(186,112,28,1);
    -moz-box-shadow: inset 1px 2px 112px 20px rgba(186,112,28,1);*/
    box-shadow: inset 1px 2px 112px 20px rgba(186,112,28,1);
}

.imgGallery {
    width: 100%;
    height: 100%;
}

.galleryImg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    /*-webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;*/
    transition: opacity 1s;
}

.actual {
    opacity: 1;
    z-index: 2;
}

#controlPanel {
    width: 68%;
    margin: 0 auto;
}

.controls {
    border: 2px solid rgba(236, 171, 97, 0.98);
    background-color: #000000;
    color: white;
    width: 70px;
    height: 45px;

    /*-webkit-box-shadow: 0px 0px 9px -1px rgb(215, 139, 49);
    -moz-box-shadow: 0px 0px 9px -1px rgb(148, 87, 7);*/
    box-shadow: 0px 0px 9px -1px rgb(238, 143, 37);
    margin: 6px auto;
}



.galleryImg {
    font-size: 40px;
    padding: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
}

.imgMap {

    width: 100%;
    height: 50%;
}
/*piškvorky*/
#ponukaTabulka{
    border:  2px solid #333;
    height:  100%;
    width:  100%;
    text-align:  center;
    vertical-align:  middle;
    cursor: pointer;
    font-size:  20px;

}
td {
    border:  2px solid #333;
    height:  100px;
    width:  100px;
    text-align:  center;
    vertical-align:  middle;
    font-family:  "Comic Sans MS", cursive, sans-serif;
    font-size:  70px;
    cursor: pointer;
}

table {
    cursor: pointer;
    /*display: table-cell;*/
   /* width: 100%;
    height: 100%;*/
    /*font: bold 50px/0 'Comic Sans MS', sans-serif;*/
    text-align: center;
}

table tr:first-child td {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr td:last-child {
    border-right: 0;
}

.koniecHry {
    position: absolute;
    left: auto;
    transform-origin: center;
    width: 300px;
    height: 300px;
    margin-top: -60px;
    margin-left: -20px;
    padding-top: 140px;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

